body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  color: rgba(92, 92, 92, 1);
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.4em;
}
h3 {

}
p {

}
a {
  color: rgba(92, 92, 92, 1);
}
nav {
  background-color: rgba(67, 250, 200, .2);
  color: rgba(92, 92, 92, 1);
  padding: .5em;
  height: 2em;
}
ul {
  list-style-type: none;
}
#left, #right {
  display: inline;
  font-size: 1.5em;
}
#left {
  font-weight: bold;
  padding: 0 0 0 2em;
  float: left;
}
#right {
  color: rgba(92, 92, 92, .5);
  background-color: rgba(210, 250, 239, 1);
  background-repeat: no-repeat;
  padding: 0 2em 0 0;
  float: right;
}
#search {
  width: 80%;
}

#chart_div {
  width: 80% vw;
}
#sidebar {
  position:absolute;
  top:5em; bottom:0; right:2em;
  width:20% vw;
  background: transparent;
}
.city {
  border-bottom: 3px solid Gray;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px;
}
footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:auto;
   padding: 2em;
   background: #ffffff;
   width:100%;

}
